{% extends "base.html" %}

{% block title %}FAQ{% endblock %}

{% block content %}
<h2>Frequently Asked Questions</h2>
<hr>

<ul>
    <h3> Booking and appointments </h3>
    <li> <strong> How do I book an appointment? </strong> Did you know you can now book online? It's much easier and
        quicker! Simply navigate to the menu at the top and select “Book Online.” Alternatively, you can still book an
        appointment or make inquiries by calling our salon on . Please note that bookings cannot be made
        via email, but you are welcome to make inquiries.

        We look forward to assisting you!</li>
    <li> <strong> </strong></li>
    <li><strong> I'm new to pet grooming, what should I expect? </strong> First of all, a big thank you from us for
        coming to visit. Every pet that comes in to be groomed is treated like our own pet, so they're in good hands
        with us.

        On your first visit, we'll get you and your pet registered on our system and ask a few questions to better
        understand what type of groom you'd like. We'll also use our expertise to help guide you on any breed specific
        considerations. This will all be documented on what we call our `grooming contract`. We'll ask you to sign this
        and give you a copy = that way we all know what's going to happen during the groom.

        We can also give you a tour of our salon and take you behind the scenes. We hope this will reassure you that the
        great service and care doesn't stop at front of house - and that your pet's care is our top priority.

        Your first visit is also a chance for you to ask us questions, so don't hold back. We understand how nervous you
        may be the first time you drop your pet off at the salon, so we're here to put your mind at ease.</li>

    <li><strong> Why do you charge a deposit for my pet's groom? </strong> Our deposits act as a guarantee of your slot.
        But we know that, from time to time, things change. So, if you cancel or change within 48 hours of the
        appointment, we can refund your deposit or carry it over to your next appointment. We currently ask for a 20%
        deposit per pet.

        Remember - if you need to cancel and have booked your appointment online, you can cancel directly in your online
        booking account.</li>

    <li> <strong> What size is my dog? </strong> S- Small dogs less than 22 pounds (0-8kg)
        M- Medium dogs 24 to 33 pounds (9kg- 15kg)
        L- Large dogs 33 to 66 pounds (15kg -30kg)
        XL- Extra Large dogs 66 or more pounds (30kg and over) </li>

    <hr>
    <h3> Our Services </h3>
    <li><strong> What if my pet just needs a bath or a trim? </strong> We offer a wide range of services that are suited
        to all pets and their own individual grooming requirements. If your pet doesn't need a Full Groom, we
        offer plenty of in-between services. For example, a Bath, Brush & Blow Dry or a Face Tidy can be just right for
        keeping on top of essential grooming needs. Visit our 'Grooming services' page for more details.</li>
    <li> <strong> How long will the groom take? </strong> This is dependent on breed, size, coat type and the style
        requirements of your pet. Our expert groomers will be able to give you a collection time when you drop your pet
        off for their groom.</li>
    <li> <strong> When should my puppy/kitten have their first groom? </strong>We advise you to start your pet's
        grooming with a bath and tidy at least ten days after the final vaccinations. Your pet can come in for an
        enjoyable session to become familiar with the sights and smells of the salon and build positive associations
        from an early age.

        Please bring an item with a familiar scent for your pet to help maintain scent continuity.</li>
    <hr>

    <h3> Your pet's care </h3>
    <li> <strong> Can you remove knots and matts from my pets coat? </strong> We can remove mats using various methods,
        techniques, and products, but this can also depend on various factors.

        The amount of hair left after knot and mat removal depends on many contributing factors, including the severity
        (tightness and extent of the mats) and the disposition of the individual animal.

        We employ every technique to save coats and style them as owners wish, but we also prioritize humanity before
        vanity. Please be guided by our professionals when deciding the best course of action for your pet. Sometimes,
        removing the coat and starting again is the only option.

        Ideally, regular weekly brushing and combing of your pet, along with regular grooming appointments, will prevent
        the build-up of knots and the need for coat removal. This approach also promotes a healthy coat and skin.

        There is usually an additional charge for knot and mat removal, with prices determined by the individual pet's
        requirements and any contributing factors.

        The Animal Welfare Act stipulates that causing animals pain or discomfort is an offence, and we reserve the
        right to remove the coat if we believe it is in the best interest of the animal in question.

        Please ask a member of staff about your individual pet.</li>
    <li><strong> Can I stay with my pet whilst they're being groomed? </strong> For the safety of the pets in the salon
        and our customers, owners are not permitted
        to stay with their pet for the groom. However, you can stay locally if you wish.</li>
    <li><strong> Do you use drying cabinets? </strong> We usually use free-standing dryers, and your pet
        is dried by hand by one of our groomers. We'll never leave your pet unattended while they're having a groom in
        one of our salons, so you can rest assured that they're safe and in the best possible care.

        In some cases we may use a drying cabinet. Please inform your groomer if your pet has any conditions
        (medical or not) that may exclude them from using the cabinet. Allowing our groomers to use a drying cabinet is
        done so entirely at the pet owner's risk. Brachycephalic (short-nosed) dogs will never be put into drying
        cabinets under any circumstances. </li>
    <li><strong> If my pet is pregnant or in season (heat), can they still be groomed? </strong> Unfortunately, we can't
        groom pets who are pregnant or in season (heat).</li>
    <li><strong> What if my pet is aggressive, can they still be groomed? </strong> For the safety of our staff and your
        pet, we need to know if your pet is prone to any types of aggressive or
        difficult behaviour, so we can take the necessary precautions.

        When dealing with pets exhibiting difficult or aggressive behaviour, collaboration with their owner is essential
        to support the pet in accepting the grooming procedure. Some particularly aggressive pets may need to come in at
        the end of the day with the owner.

        Pets with aggressive or challenging behaviour will incur an additional charge. We provide experienced and
        knowledgeable groomers for these types of pets, equipped with up-to-date handling aids and techniques to
        complete the job safely.

        Please call or email to discuss your situation with one of our team members.

    </li>

    <hr>
    <h3> General </h3>
    <li> <strong> Free 24 hour correction service </strong> As the grooming is carried out by hand, we offer a free
        correction service for the first 24 hours after collection.</li>
    <li><strong> Is there anything I need to do, before my pet comes in to be groomed? </strong> To improve your pet's
        experience at Pets Grooming, there are a couple of things you can do before bringing them in.

        Please do not feed your pet within 30 minutes prior to their appointment

        Please ensure that your pet has been given the opportunity to go to the toilet before they enter the grooming
        salon. This will ensure that they get the maximum enjoyment out of their groom</li>
    <li><strong> What if I'm running late to drop my pet off or pick them up? </strong> Let us know as soon as possible
        if you're running late and we'll do our best to fit you in. If you arrive more than 15 minutes late, we can't
        guarantee that your appointment will still be available.

        If you don't collect your pet at the agreed collection time, there'll be an additional charge of £5 for every 30
        minutes we hold your pet after the collection time stated on the grooming contract.</li>
    <li><strong> What if I need to make a complaint about the groom? </strong> We'd always like to give the salon team
        an opportunity to make up for any problems you've had with your groom. Our telephone number and email is
        in our 'Contact Us' page.

        We respond to email messages as soon as we can. Please allow 72 hours (Monday - Saturday 09:00 -
        18:00) for us to answer your query </li>
    <hr>
</ul>

{% endblock %}